<br />
<div class="row">
    <div class="col-4">
        <img src="https://i.pinimg.com/736x/0a/59/a6/0a59a6c04c8478cb1e6a42d5e4ea1816.jpg" class="img-thumbnail" alt="Logo Northwind">
    </div>
    <div class="col-8">
        <h1><b>Northwind Gestión</b></h1>
        <h4>Gestión de Clientes, Productos y Pedidos.</h4>
    </div>
</div>
